
@{
    ViewBag.Title = "Terms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section title {
    <title>服務條款 - @SessionService.CompName</title>
}
<div class="container">
    <div class="termcontainer">
        <div class="term">
            <div class="row">
                <div class="col-12 mb-2 text-center">
                    <h2 style="font-size:2.5rem;">售後服務</h2>
                </div>

                <div class="col-12 mb-5">
                    <img src="~/Images/WebSiteImg/flowerline.png" alt="Alternate Text" class="img-fluid" />
                </div>

                <div class="col-12">
                    <div class="text">
                        <h4>✿ <strong>退貨須知</strong></h4>
                        <ul>
                            <li>依台灣消費者保護法，貼身飾品：髮飾、耳環、戒指、項鍊、手鍊皆屬於個人貼身用品，基於個人衛生原則，不適用於7天鑑賞期退貨服務，請見諒。</li>
                            <li>
                                本店僅接受因零件脫落或重大瑕疵的退貨，請於收到商品的七日內反應，逾期恕無法受理，<span style="color: #ff0000;"><u>以下所發生狀況不屬瑕疵範圍</u></span>。
                                <ul>
                                    <li>- 乾燥花：每朵花皆為真花，會有色澤、大小、花瓣不盡相同之情況。</li>
                                    <li>- 色差：商品皆為實品拍攝，照片顏色會因電腦、手機螢幕顯示有些微差距，商品皆以實物為準。</li>
                                    <li>- 尺寸誤差：因商品皆為人工測量，± 0.5 cm 屬正常的誤差範圍。</li>
                                    <li>- 紋路：天然石、天然珍珠、樹脂等材質或手工製作的暈染紋路配件，會有色澤、形狀、紋路、雜質等外觀之差異。</li>
                                    <li>- 黏著點、刮傷：手工飾品之黏著點、鍍色等細微刮痕屬正常現象</li>
                                    <li>- 溢膠：材料零件組合皆為手工製作，會有輕微溢膠屬正常情形，因此不在瑕疵範圍內。</li>
                                    <li>- 耳針彎曲：925銀材質較軟，故有時會產生些許彎曲為正常現象，只需輕微施力調整回來即可。</li>
                                    <li>- 過敏：商品皆標明金屬材質，恕無法因個人或過敏因素而退貨。</li>
                                </ul>
                            </li>
                        </ul>
                        <ul>
                            <li>其他詳細退貨流程請私訊詢問，經本商店判定確認後，將會有專人協助您進行退貨退款流程(交易衍生之手續費須另行支付)。</li>
                            <li>商品退換貨均需保持主商品與配件之完整性，若主商品或配件有缺件恕無法提供退換貨服務。</li>
                            <li>申請退換貨請附圖<a href="mailto:service@irreplaceablehandmade.com">來信</a>或私訊<a href="https://www.facebook.com/irreplaceable.handmade.accessory/">Facebook</a>或<a href="https://www.instagram.com/irreplaceable.handmade/">Instagram</a>，並標明退貨原因。</li>
                        </ul>
                        <h4>✿ <strong>維修服務</strong></h4>
                        <ul>
                            <li>如人為因素造成商品損毀，可接受修復，但需自行負擔來回運費，申請修復還請私訊詢問，我方將會判定此商品狀態是否可行修復處理。</li>
                            <li>如有重大修復，如零件更換(耳針更換、零件更換等)，除須自付來回運費，還需多加收零件成本費。</li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 mt-5">
                    <img src="~/Images/WebSiteImg/flowerline.png" alt="Alternate Text" class="img-fluid" />
                </div>

            </div>
        </div>
    </div>
</div>
